.container-edu {
    padding: 1em;
    margin-top: 2em;
}

section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}

main ol li {
    list-style: none;
}

.list-item {
    display: flex;
    gap: 30px;
}

p {
    margin-left: 75px;
}

h6 {
    margin-left: 75px;
}

.fa {
    font-size: xx-large;
}
